* {
    margin: 0;
    padding: 0;
    color:white;
}




#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 75px;
    grid-template-rows: 100px 400px 400px 400px 400px 100px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s4"
        "fo fo"
        ;
}


header{
    background-color: rgb(228, 98, 0);
    grid-area:he;
    display: flex;
    justify-content: space-around;
    padding:5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(228, 98, 0);
    grid-area: na;
}


#flag{
    height:90px;
    width:135px;
}

#link_list a {
    color:white;
    text-decoration: none;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}


#burger div {
    width: 25px;
    height: 3px;
    background-color: darkgreen;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

#link_list {
    background-color: rgb(228, 98, 0);
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}
#burger {
    margin-right: 50px;
    cursor: pointer;
}

.link_list_visible {
    transform: translateY(500px)
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}