* {
    margin: 0;
    padding: 0;
    color:rgb(0, 0, 0);
    overflow-x: hidden;
    box-sizing: border-box;

}




#grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 75px;
    grid-template-rows: 100px 4fr 300px 400px 1fr;
    grid-template-areas: 
        "he na"
        "ma ma"
        "s1 s1"
        "s2 s2"
        "fo fo"
        ;
}

#grid_wrapper_about {
    display: grid;
    grid-template-columns: 1fr 75px;
    grid-template-rows: 100px 400px 100px 1fr 1450px 350px 1fr 200px;
    grid-template-areas: 
        "he na"
        "ma_a ma_a"
        "se1 se1"
        "se2 se2"
        "se3 se3"
        "se4 se4"
        "se5 se5"
        "fo fo"
        ;
}



header{
    background-color: rgb(234, 119, 22);
    grid-area:he;
    display: flex;
    justify-content: space-around;
    padding:5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(234, 119, 22);
    grid-area: na;
}


main  {
    grid-area:ma;
    background-color: rgb(255, 255, 255);
    padding:20px;

}

#news_image{
    height:250px;
    width:100%;
}

#current_issues{
    grid-area:s1;
    background-color: rgb(234, 119, 22);
}

.issue{
    padding:20px;
    border: 1px solid black;
    height:50px;
    
}

.icon{
    width:20px;
}


#video{
    grid-area:s2;
    background-color: rgb(255, 255, 255);

}

iframe{
    height: 315px;
    width:100%;




}


footer{
    grid-area:fo;
    background-color: rgb(0, 145, 61);
    display: flex;
    flex-direction: column;
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}




#flag{
    height:90px;
    width:135px;
}

#link_list a {
    color:white;
    text-decoration: none;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}


#burger div {
    width: 25px;
    height: 3px;
    background-color: darkgreen;
    margin: 5px;
    border-radius: 20%;
    transition: all 0.5s;
}

#link_list {
    background-color: rgb(234, 119, 22);
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}
#burger {
    margin-right: 50px;
    cursor: pointer;
}

.link_list_visible {
    transform: translateY(500px)
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_in_x_form #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



#main_about{
    grid-area:ma_a;
    background-color: rgb(255, 255, 255);
    padding:0;


}




#small_info_box{
    background-color: rgb(0, 145, 61);
    grid-area:se1;
    border: 1px solid black;
    height: fit-content;
    padding:20px;
    

    


    
}



#big_info_box {
    grid-area:se2;
    background-color: rgb(234, 119, 22);

    margin:10px;
    margin-top: 50px;
    height:fit-content;
    font-weight:900;
    margin-bottom: 50px;

  }
  
  table {
    
    border-collapse: collapse;

  }
  
  th, td {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);
    
  }
  
  #first_row {
    background-color: rgb(234, 119, 22);
  
    
  }

  tr{
    background: rgb(211, 172, 1);
  }


.facts{
    height:fit-content;
    background-color: rgb(255, 255, 255);
    border:8px solid green;
    text-align:left;
}

#nature{
    grid-area:se3;
    
    
}
.facts_image{
    margin-top:50px;
    height:200px;
    width:100%;
    
}

.facts_image_text{
    font-style:italic;
    margin:5px;
    font-size: small;
    
}

.facts p{
    margin:20px;
    line-height: 1.5;
    
}

.facts_box_title{
    
    margin-top:20px;
}

#people_and_culture{
    grid-area:se5;
    
}

#example_image{
    height:fit-content;
    grid-area:se4;
    margin-top: 20px;
    
    
    
}

#wadiya_example_image{
    
    height:250px;
    padding-left:15px;
    
  
    
}


#grid_wrapper_government{
    grid-template-columns: 1fr 75px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
    "he na"
    "ma_g ma_g"
    "fo fo"
}


